body::-webkit-scrollbar{
    width: 0px;
    height: 0px;
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0);
}

p{
    font-family: 'MuseoSansCyrl-300', sans-serif;
    color: #333333;
}

h1, h2, h3, h4, h5{
    font-family: 'MuseoSansCyrl-500', sans-serif;
    color: #333333;
}

/* Navbar */

.navbar {
  width: 100%;
  background: white;
  position: relative;
}

.navbar-container {
  width: 100%;
  margin: 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 40px;
  padding-right: 60px;
}

.brand-text {
  position: relative;
  margin-left: 120px;
  margin-right: 57px;
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
  transition: all 0.2s ease;
}

.brand-text:hover{
    color: #333333;
    font-size: 17px;
}

.menu-items-list {
  display: flex;
  gap: 32px;
  list-style: none;
  align-items: center;
  margin-bottom: 0px;
}

.menu-items-list li a {
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: #333333;
  cursor: pointer;
  transition: all 0.2s ease;
}

.menu-items-list li a:hover{
    font-family: 'MuseoSansCyrl-700', sans-serif;
    font-size: 17px;
}

.right-block {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 24px;
}

.sign-in-btn {
  background: #6248FF;
  color: white;
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-size: 14px;
  border-radius: 60px;
  padding: 13px 24px;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sign-in-btn:hover{
  filter: brightness(120%);
  color: white;
}


.sign-in-btn:active{
  filter: brightness(90%);
  color: white;
}


/* langauge dropdown */
.language-choose {
  position: relative;
  width: auto;
  cursor: pointer;
  display: flex;
 flex-direction: column;
}

.language-choose-div {
border-radius: 60px;
  padding: 10px 16px;
 border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 8px;
}

.language-name {
  font-family: 'MuseoSansCyrl-500', sans-serif;
  color: #333333;
  margin-bottom: 0px;
}

.language-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  list-style: none;
  border: 1px solid #ccc;
  padding: 8px;
  display: none;
  border-radius: 4px;
  z-index: 10;
  min-width: 80px;
}

.language-choose.open .language-dropdown {
  display: block;
}

.language-dropdown {
  display: none;
  flex-direction: column;
  gap: 8px;
}
.language-choose.open .language-dropdown {
  display: flex;
}


.hamburger {
  display: none;
  width: 18px;
  height: 12px;
  background: url('../icons/hamburger-menu-icon.svg') no-repeat center/contain;
  cursor: pointer;
}

/* Mobile menu */
.mobile-menu {
  display: none;
  background: white;
  padding: 20px;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mobile-menu ul li a {
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-size: 15px;
  color: #333333;
  text-decoration: none;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.mobile-menu .language-dropdown {
  position: static;
  padding: 0;
  margin-top: 8px;
  display: none;
  flex-direction: column;
  gap: 8px;
}

.mobile-menu .language-choose {
  width: fit-content;
  margin: 0 auto;
}


.language-choose.open .language-dropdown {
  display: flex;
}

/* Hiding mobile sign-in button */
.sign-in-mobile {
  display: none;
}


/*Start Trading Section*/

.start-trading-section{
    position: relative;
    padding: 100px;
    width: 100%;
    height: auto;
    background: #EEECFD;
}

.section-trading-container{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trading-container{
    position: relative;
}

.trade-title{
    position: relative;
    margin-bottom: 32px;
    color: #333333;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0%;

}

.about-trading-text{
    position: relative;
    margin-bottom: 48px;
    color: #4F4F4F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
}

.btn-start-trading{
    position: relative;
    padding: 20px 64px;
    border: 0px solid transparent;
    border-radius: 60px;
    background: #6248FF;
    color: white;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 3%;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s ease;
    cursor: pointer;
}

.btn-start-trading:hover{
    filter: brightness(120%);
}

.btn-start-trading:active{
    filter: brightness(90%);
}


.start-trading-pic{
    position: relative;
    display: flex;
    margin-left: auto;
    width: 482px;
    height: 519px;
}


 /*Get Started Section*/

  .get-started-section{
    width: 100%;
    padding: 140px 120px;
  }

  .get-started-title{
    position: relative;
    margin-bottom: 68px;
    color: #333333;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: 0%;
  }

  .fast-easy-part{
    background: #EEECFD;
    color: #373546;
    padding-left: 2px;
    padding-right: 2px;
  }

  .steps-container{
    width: 100%;
    position: relative;
    margin: 0 auto;
  }

  .step-1-container, .step-2-container, .step-3-container, .step-4-container{
    width: 483px;
    height: auto;
    padding: 32px;
    border: 2px solid #6248FF;
    border-radius: 30px;
  }

  .step-num-name-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .step-num{
    position: relative;
    color: #6248FF;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .step-name{
    position: relative;
    color: #333333;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .about-step{
    position: relative;
    color: #4F4F4F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
  }

  .step-1-container{
    position: absolute;
    top: 0px;
    left: 0px;

  }

  .step-2-container{
    position: absolute;
    top: 156px;
    right: 0px;
  }

  .step-3-container{
    position: absolute;
    top: 337px;
    left: 0px;
  }

  .step-4-container{
    position: absolute;
    top: 517px;
    right: 0px;
  }

  .line-1-div{
    position: absolute;
    top: 111.5px;
    left: 483px;
    width: 604px;
    height: 44px;
    border-top: 3px dotted #6248FF;
    border-right: 3px dotted #6248FF;
    border-top-right-radius: 30px;
  }

  .line-2-div{
    position: absolute;
    top: 282.5px;
    right: 483px;
    width: 604px;
    height: 55px;
    border-top: 3px dotted #6248FF;
    border-left: 3px dotted #6248FF;
    border-top-left-radius: 30px;
  }

  .line-3-div{
    position: absolute;
    top: 463.5px;
    left: 483px;
    width: 604px;
    height: 55px;
    border-top: 3px dotted #6248FF;
    border-right: 3px dotted #6248FF;
    border-top-right-radius: 30px;
  }

  /*People Love Invest Section*/


  .people-love-invest-section{
    width: 100%;
    position: relative;
    margin: 640px auto;
    margin-bottom: 0px;
    padding: 140px 120px;
  }

  .people-love-invest-section-container{
    width: 100%;
    position: relative;
    background: white;
    display: flex;
    flex-direction: row;
  }

  .left-ppl-love-invest-container{
    position: relative;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 47px;

  }

  .ppl-love-invest-title{
    position: relative;
    color: #333333;
    font-family: 'MuseoSansCyrl-600', sans-serif;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: 0%;
  }

  .buttons-change-people-container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .btn-previous-person, .btn-next-person{
    position: relative;
    width: 48px;
    height: 48px;
    background: white;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: all 0.2s ease;
  }

  .btn-previous-person:hover, .btn-next-person:hover{
     border: 1px solid #6248FF;
  }

  .btn-previous-person:active, .btn-next-person:active{
     border: 1px solid #6248FF;
     filter: brightness(90%);
  }


  .previous-person-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-50%);
    width: 24px;
    height: 24px;
    background: url('../icons/btn-previous-arrow.svg') no-repeat;
    background-size: contain;
  }

  .next-person-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%,-50%);
    width: 24px;
    height: 24px;
    background: url('../icons/btn-next-arrow.svg') no-repeat;
    background-size: contain;
  }

  .right-ppl-love-invest-container{
    position: relative;
  }

  .person-info-container{
    position: relative;
    margin-top: 27px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }

  .person-photo{
    position: relative;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    background: url('../img/albert-abello.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .person-name-job-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .person-name{
    position: relative;
    color: #333333;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0%;
    margin-bottom: 0px;
  }

  .person-job{
    position: relative;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0%;
    margin-bottom: 0px;
  }

  .person-review-container{
    position: relative;
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .symbol-of-review{
    position: absolute;
    top: 117px;
    left: -50px;
    width: 33px;
    height: 27px;
    background: url('../icons/person-review-symbol.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .person-review{
    width: 585px;
    position: relative;
    color: #333333;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 0px;
  }

  .person-num-container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  .number-of-person{
    position: relative;
    color: #6248FF;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 0px;
  }

  .number-of-persons-symbol{
    position: relative;
    color: #6248FF;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 0px;
  }

  .number-of-persons{
    position: relative;
    color: #6248FF;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 0px;
  }

  /* Frequently Asked Questions Section */

  .frequently-asked-questions-section{
    position: relative;
    padding: 140px 140px;
    padding-top: 0px;
  }

  .freequently-asked-questions-title{
    position: relative;
    color: #333333;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: 0%;
    margin-bottom: 0px;
  }

  .questions-container{
    position: relative;
    margin: 0 auto;
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  .question-container{
    position: relative;
    margin: 0 auto;
    width: 995px;
    padding: 32px 40px;
    border: 2px solid #6248FF;
    border-radius: 20px;
  }

  .question-text-button-see-answer-container{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .question-text{
    position: relative;
    display: flex;
    margin-left: 0px;
    color: #333333;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 0px;
  }

  .see-answwer-btn{
    position: relative;
    display: flex;
    margin-left: auto;
    background: transparent;
    border: 0px solid transparent;
  }

  .see-answer-btn-icon {
    width: 32px;
    height: 32px;
    background-image: url('../icons/more-info-btn.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;
  }

  .answer-text{
    width: 750px;
    position: relative;
    margin-top: 24px;
    color: #4F4F4F;
    font-family: 'Montserrat', sans;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: start;
  }

  .answer-text{
    display: none;
  }

  /* Contact Us Section */

  .contact-us-section{
    background: #EEECFD;
    position: relative;
    padding: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 132px;
  }

  .company-contact-info-container{
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .contact-us-title{
    position: relative;
    color: #333333;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: 0%;
  }

  .contact-us-text{
    width: 483px;
    position: relative;
    margin-top: 32px;
    color: #4F4F4F;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
  }

  .site-is-owned-contact-text{
    width: 483px;
    position: relative;
    margin-top: 48px;
    color: #4F4F4F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
  }

  .contacts-of-company-container{
    position: relative;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .phone-container, .email-container, .address-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .phone-title, .email-title, .address-title{
    position: relative;
    color: #333333;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0%;
    margin-bottom: 0px;
  }

  .phone-num-link, .email-link{
    position: relative;
    color: #4F4F4F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    transition: all 0.2s ease;
    text-decoration: none;
  }

  .phone-num-link:hover, .email-link:hover{
    color: #4F4F4F;
    filter: brightness(90%);
    font-size: 18px;
  }

  .phone-num-link:active, .email-link:active{
    color: #4F4F4F;
    filter: brightness(70%);
  }
  
  .address-text{
    width: 483px;
    position: relative;
    color: #4F4F4F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
  }

  .user-contact-info-form-container{
    position: relative;
    display: flex;
    margin-left: auto;
    margin-top: 14px;
    padding: 80px;
    background: white;
    border-radius: 20px;
    border: 2px solid #6248FF;
  }

  .user-contact-info-form{
    position: relative;
    top: 50%;
    transform: translate(0%, -35%);
  }

  .inputs-container{
    width: 425px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .user-name-input, .user-email-input{
    position: relative;
    width: 425px;
    padding: 7px 16px;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    color: #4F4F4F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  .message-text-area{
    position: relative;
    width: 425px;
    padding: 7px 16px;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    color: #4F4F4F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  .send-contact-info-btn{
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    background: #6248FF;
    border: 0px solid transparent;
    border-radius: 60px;
    padding: 20px 64px;
    color: white;
    text-transform: uppercase;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 3%;
    transition: all 0.2s ease;
  }

  .send-contact-info-btn:hover{
    filter: brightness(120%);
    color: white;
  }

  .send-contact-info-btn:active {
    filter: brightness(90%);
    color: white;
  }

  /* Footer */

  .footer{
    position: relative;
    padding: 32px 120px;

  }

  .footer-content-container{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;
  }

  .logo-home-footer{
    position: relative;
    color: black;
    font-family: 'MuseoSansCyrl-700', sans;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0%;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }

  .logo-home-footer:hover{
    color: black;
    filter: brightness(120%);
    font-size: 16px;
  }

  .logo-home-footer:active{
    color: black;
    filter: brightness(140%);
    font-size: 15px;
  }


  .risk-warninig-container{
    position: relative;
    margin-left: 160px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .risk-warnining-title{
    position: relative;
    color: #333333;
    font-family: 'MuseoSansCyrl-500', sans;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    margin-bottom: 0px;
  }

  .risk-warning-text{
    position: relative;
    width: 380px;
    color: #4F4F4F;
    font-family: 'Montserrat', sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0%;
    margin-bottom: 0px;
  }

  .legal-disclaimer-container{
    position: relative;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .legal-disclaimer-title{
    position: relative;
    color: #333333;
    font-family: 'MuseoSansCyrl-500', sans;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    margin-bottom: 0px;
  }

  .legal-disclaimer-text{
    position: relative;
    width: 380px;
    color: #4F4F4F;
    font-family: 'Montserrat', sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0%;
    margin-bottom: 0px;
  }

  .navbar-elements-footer{
    position: relative;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 24px;
  }


  .navbar-element-footer-link{
    position: relative;
    color: #333333;
    font-family: 'MuseoSansCyrl-500', sans;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0%;
    margin-bottom: 0px;
    text-decoration: none;
    transition: all 0.2s ease;
  }

  .copy-right-container{
    position: relative;
    display: flex;
    flex-direction: row;

  }

  .navbar-element-footer-link:hover{
    color: black;
    filter: brightness(120%);
    font-size: 16px;
  }

  .navbar-element-footer-link:active{
    color: black;
    filter: brightness(140%);
    font-size: 15px;
  }



  .copy-right-text, .terms-and-conditions-text, .privacy-policy-text, .risk-warinings-text, .anti-money-laundering{
    position: relative;
    color: #828282;
    font-family: 'Montserrat', sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    margin-bottom: 0px;
    text-decoration: none;
    transition: all 0.2s ease;
  }

  .terms-and-conditions-text{
    position: relative;
    margin-left: 132px;
  }

  .privacy-policy-text{
    position: relative;
    margin-left: 66px;
  }

  .risk-warinings-text{
    position: relative;
    margin-left: 66px;
  }

  .anti-money-laundering{
    position: relative;
    display: flex;
    margin-left: 66px;
  }

  .copy-right-text:hover, .terms-and-conditions-text:hover, .privacy-policy-text:hover, .risk-warinings-text:hover, .anti-money-laundering:hover{
    color: #828282;
    filter: brightness(80%);
  }

   .copy-right-text:active, .terms-and-conditions-text:active, .privacy-policy-text:active, .risk-warinings-text:active, .anti-money-laundering:active{
    color: #828282;
    filter: brightness(70%);
   }


/* Phone (< 600px) */
@media (max-width: 600px) {


  .brand-text {
    position: relative;
    margin-left: 20px;
    margin-right: 0px;
  }

  .navbar-container {
  padding-right: 20px;
  }



  .menu-items-list {
    display: none;
  }

  .sign-in-desktop-tablet {
    display: none !important;
  }

  .hamburger {
    display: block;
  }

  .mobile-menu.active {
    display: block;
  }

  /* Showing sign-in button inside phone's menu */
    .sign-in-mobile {
    position: relative;
    margin: 20px auto;
    width: fit-content;
    background: #6248FF;
    border-radius: 60px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    transition: all 0.2s ease;
    }

    .sign-in-mobile:hover {
        filter: brightness(120%);
        color: white;
    }

    .sign-in-mobile:active {
        filter: brightness(90%);
        color: white;
    }


   #languageToggle {
    display: none !important;
  }

  .sign-up-mobile-text{
    position: relative;
    padding: 13px 24px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: white;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 14px;
    margin-bottom: 0px;
    transition: all 0.2s ease;
  }

  .sign-up-mobile-text:hover{
    color: white;
  }

  .sign-up-mobile-text:active{
    color: white;
  }

   /*Start Trading Section*/

    .start-trading-section{
    position: relative;
    padding: 32px 20px 16px 20px;
    padding-bottom: 24px;
    width: 100%;
    height: auto;
    background: #EEECFD;
    }

    .section-trading-container{
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }

    .trading-container{
        position: relative;
    }

    .trade-title-mobile{
        position: relative;
        font-size: 40px;
        line-height: 44px;
        text-align: start;
        position: relative;
        color: #333333;
        font-family: 'MuseoSansCyrl-500', sans-serif;
        letter-spacing: 0%;

    }

    .about-trading-text-mobile{
        position: relative;
        text-align: start;
        position: relative;
        margin-top: 24px;
        margin-bottom: 48px;
        color: #4F4F4F;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0%;

    }

    .btn-start-trading{
        position: relative;
        display: flex;
        padding: 20px 75px;
        margin: 0 auto;
    }


    .start-trading-pic{
        position: relative;
        display: flex;
        margin: 0 auto;
        width: 280px;
        height: 301px;
    }

  .about-trading-text-tablet{
     display: none !important;
  }

  .trade-title{
    display: none !important;
  }

  .about-trading-text{
    display: none !important;
  }

   /*Get Started Section*/

  .get-started-section{
    width: 100%;
    padding: 80px 20px;
  }

  .get-started-title-mobile{
    width: 280px;
    position: relative;
    margin-bottom: 40px;
    color: #333333;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0%;
  }

  .get-started-title{
    display: none !important;
  }
  .get-started-title-tablet{
    display: none !important;
  }

  .steps-container{
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
  }

  .step-1-container, .step-2-container, .step-3-container, .step-4-container{
    position: relative;
    margin: 0 auto;
    top: auto;
    justify-content: center;
    width: 280px;
    height: auto;
    padding: 24px;
    border: 2px solid #6248FF;
    border-radius: 30px;
  }

  .line-1-div, .line-2-div, .line-3-div, .line-4-div{
    display: none !important;
  }

  .step-num-name-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .step-num{
    position: relative;
    color: #6248FF;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .step-name{
    position: relative;
    color: #333333;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  /* People Love Invest*/

  .people-love-invest-section-container{
    display: none !important;
  }

  .people-love-invest-section-container-tablet{
    display: none !important;
  }

 .people-love-invest-section{
  margin-top: 0px;
    padding: 0px 20px;
  }

  .ppl-love-invest-title-mobile{
    position: relative;
    color: #333333;
    font-family: 'MuseoSansCyrl-600', sans-serif;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0%;
    margin-bottom: 40px;
  }

  .person-mobile-container{
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .person-info-container-mobile{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }

  .person-photo{
    margin: 0 auto;
  }

  .person-name-job-container{
    justify-content: center;
  }

  .person-name, .person-job{
    text-align: center;
  }

.symbol-of-review-mobile{
    position: relative;
    margin: 24px auto;
    width: 33px;
    height: 27px;
    background: url('../icons/person-review-symbol.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .person-review{
    position: relative;
    margin: 0 auto;
    width: 280px;
    text-align: center;
  }

  .change-person-container{
    width: 100%;
    position: relative;
    margin: 24px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .person-num-container{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .number-of-person, .number-of-persons-symbol, .number-of-persons{
    text-align: center;
  }
  
  .btn-previous-person-mobile{
    position: relative;
    display: flex;
    margin-left: 0px;
    width: 48px;
    height: 48px;
    background: white;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    transition: all 0.2s ease;
  }

  .btn-next-person-mobile{
    position: relative;
    display: flex;
    width: 48px;
    height: 48px;
    background: white;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    transition: all 0.2s ease;
  }


  .btn-previous-person-mobile:hover, .btn-next-person-mobile:hover{
     border: 1px solid #6248FF;
  }

  .btn-previous-person-mobile:active, .btn-next-person-mobile:active{
     border: 1px solid #6248FF;
     filter: brightness(90%);
  }


  .previous-person-icon-mobile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-50%);
    width: 24px;
    height: 24px;
    background: url('../icons/btn-previous-arrow.svg') no-repeat;
    background-size: contain;
  }

  
  .next-person-icon-mobile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%,-50%);
    width: 24px;
    height: 24px;
    background: url('../icons/btn-next-arrow.svg') no-repeat;
    background-size: contain;
  }

  
  /* Frequently Asked Questions Section */

   .frequently-asked-questions-section{
    position: relative;
    padding: 80px 20px;
    padding-top: 60px;
  }

  .freequently-asked-questions-title{
    position: relative;
    width: 280px;
    margin-left: 12px;
    color: #333333;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0%;
    margin-bottom: 0px;
  }

  .questions-container{
    margin-top: 32px;

  }

  .question-container{
    width: 280px;    
    padding: 24px 16px;
  }

  .question-text{
    font-size: 18px;
  }

  .answer-text{
    width: 240px;
    position: relative;
    margin-top: 24px;
    color: #4F4F4F;
    font-family: 'Montserrat', sans;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: start;
  }

    /* Contact Us Section */

  .contact-us-section{
    padding: 48px 20px;
    flex-direction: column;
    justify-content: center;
  }

  .company-contact-info-container{
    justify-content: center;
  }

  .contact-us-title{
    font-size: 40px;
    line-height: 44px;
  }

  .contact-us-text{
    width: 280px;
    margin-top: 24px;
    margin-bottom: 0px;
  }

  .site-is-owned-contact-text{
    width: 280px;
    margin-top: 24px;
    margin-bottom: 0px;
  }

  .contacts-of-company-container{
    margin-top: 17px;
  }

  .address-text{
    width: 280px;
  }

  .user-contact-info-form-container{
    position: relative;
    display: flex;
    margin: 0 auto;
    margin-top: 48px;
    padding: 48px 16px;
    background: white;
    border-radius: 20px;
    border: 2px solid #6248FF;
  }

  .user-contact-info-form{
    position: relative;
    top: 50%;

    transform: translate(0%, 5%);
  }

  .inputs-container{
    width: 248px;
  }


  .user-name-input, .user-email-input{
    width: 248px;
  }

  .message-text-area{
    width: 248px;
  }

  /* Footer */

  .footer-content-container{
    display: none !important;
  }

  .copy-right-container{
    display: none !important;
  }

  .footer{
    padding: 46px 20px 32px 20px;
  }

  .footer-content-container-tablet-phone{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo-home-footer-tablet-phone{
    position: relative;
    color: black;
    font-family: 'MuseoSansCyrl-700', sans;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0%;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease;
    text-align: center;
  }

    .logo-home-footer-tablet-phone:hover{
    color: black;
    filter: brightness(120%);
    font-size: 16px;
  }

  .logo-home-footer-tablet-phone:active{
    color: black;
    filter: brightness(140%);
    font-size: 15px;
  }


  .navbar-elements-footer{
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .risk-warninig-container{
    position: relative;
    margin: 0 auto;
    margin-top: 32px;
  }

  
  .risk-warnining-title{
    width: 280px;
  }

  .risk-warning-text{
    width: 280px;
  }

  .legal-disclaimer-container{
    position: relative;
    margin: 0 auto;
    margin-top: 24px;
  }

  .legal-disclaimer-text{
    width: 280px;
  }

  .legal-disclaimer-title{
    width: 280px;
  }

  .copy-right-container-tablet-phone{
    position: relative;
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

  }

  .copy-right-text, .terms-and-conditions-text, .privacy-policy-text, .risk-warinings-text, .anti-money-laundering{
    display: block;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }


  

}

/* Tablet (601px — 992px) */
@media (min-width: 601px) and (max-width: 992px) {

  .brand-text {
    position: relative;
    margin-left: 40px;
    margin-right: 0px;
  }

  .navbar-container {
    padding-right: 20px;
  }

  .right-block {
    gap: 28px;
  }

  .menu-items-list {
    display: none;
  }

  .sign-in-desktop-tablet {
    display: inline-block;
    transition: all 0.2s ease;
  }

  .sign-in-desktop-tablet:hover{
    filter: brightness(120%);
    color: white;
  }

  .sign-in-desktop-tablet:active{
    filter: brightness(90%);
    color: white;
  }


  .hamburger {
    display: block;
  }

  .mobile-menu.active {
    display: block;
  }

  /* Hiding sign-in on tablet */
  .sign-in-mobile {
    display: none !important;
  }

   #languageToggle {
    display: none !important;
  }

    .start-trading-pic{
    width: 418px;
    height: 450px;
    }

    /*Start Trading Section*/

    .start-trading-section{
    position: relative;
    padding: 40px;
    padding-bottom: 24px;
    width: 100%;
    height: auto;
    background: #EEECFD;
    }

    .section-trading-container{
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }

    .trading-container{
        position: relative;
    }

    .trade-title{
        position: relative;
        text-align: center;

    }

    .about-trading-text{
        position: relative;
        text-align: center;
    }

    .btn-start-trading{
        position: relative;
        display: flex;
        margin: 0 auto;
    }


    .start-trading-pic{
        position: relative;
        display: flex;
        margin: 0 auto;
        width: 418px;
        height: 450px;
    }


  .trade-title-mobile{
    display: none !important;
  }

  .about-trading-text-mobile{
    display: none !important;
  }

  
  .about-trading-text{
    display: none !important;
  }


.about-trading-text-tablet{
    position: relative;
    text-align: center;
    margin-bottom: 48px;
    color: #4F4F4F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
}


   /*Get Started Section*/

  .get-started-section{
    width: 100%;
    padding: 80px 20px;
  }

  .get-started-title-tablet{
    position: relative;
    margin-bottom: 56px;
    color: #333333;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: 0%;
  }

  .get-started-title{
    display: none !important;
  }
  .get-started-title-mobile{
    display: none !important;
  }

  .steps-container{
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
  }

  .step-1-container, .step-2-container, .step-3-container, .step-4-container{
    width: 329px;
    height: auto;
    padding: 32px;
    border: 2px solid #6248FF;
    border-radius: 30px;
  }

  .step-num-name-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .step-num{
    position: relative;
    color: #6248FF;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .step-name{
    position: relative;
    color: #333333;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .step-1-container{
    position: absolute;
    top: 0px;
    left: 0px;

  }

  .step-2-container{
    position: absolute;
    top: 169px;
    right: 0px;
  }

  .step-3-container{
    position: absolute;
    top: 358px;
    left: 0px;
  }

  .step-4-container{
    position: absolute;
    top: 548px;
    right: 0px;
  }

  
  .line-1-div{
    position: absolute;
    top: 126.5px;
    left: 329px;
    width: 233.5px;
    height: 44px;
    border-top: 3px dotted #6248FF;
    border-right: 3px dotted #6248FF;
    border-top-right-radius: 30px;
  }

  .line-2-div{
    position: absolute;
    top: 310,5px;
    right: 329px;
    width: 233.5px;
    height: 77px;
    border-top: 3px dotted #6248FF;
    border-left: 3px dotted #6248FF;
    border-top-left-radius: 30px;
  }

  .line-3-div{
    position: absolute;
    top: 499.5px;
    left: 329px;
    width: 233.5px;
    height: 50px;
    border-top: 3px dotted #6248FF;
    border-right: 3px dotted #6248FF;
    border-top-right-radius: 30px;
  }


  /* People Love Invest Section*/

  .people-love-invest-section{
    padding: 100px 40px;
  }

  .people-love-invest-section-container{
    display: none !important;
  }

  .people-love-invest-section-container-tablet{
    width: 100%;
    position: relative;
    margin: 120px auto;
    margin-bottom: 0px;
  }

  .ppl-love-invest-title-tablet{
    position: relative;
    color: #333333;
    font-family: 'MuseoSansCyrl-600', sans-serif;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: 0%;
    margin-bottom: 56px;
  }

  .person-tablet-container{
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .person-info-container-tablet{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .person-photo{
    position: relative;
    margin: 0 auto;
  }

  .person-name-job-container{
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .person-name, .person-job{
    text-align: center;
  }

  .symbol-of-review-tablet{
    position: relative;
    margin: 16px auto;
    width: 33px;
    height: 27px;
    background: url('../icons/person-review-symbol.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .person-review{
    position: relative;
    margin: 0 auto;
    width: 508px;
    text-align: center;
  }

  .person-num-container{
    position: relative;
    margin: 32px auto;
    text-align: center;
  }

  .buttons-change-people-container-tablet{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .btn-previous-person-tablet{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 48px;
    height: 48px;
    background: white;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    transition: all 0.2s ease;
  }

  .btn-next-person-tablet{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 48px;
    height: 48px;
    background: white;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    transition: all 0.2s ease;
  }

  .btn-previous-person-tablet:hover, .btn-next-person-tablet:hover{
     border: 1px solid #6248FF;
  }

  .btn-previous-person-tablet:active, .btn-next-person-tablet:active{
     border: 1px solid #6248FF;
     filter: brightness(90%);
  }


  .previous-person-icon-tablet{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-50%);
    width: 24px;
    height: 24px;
    background: url('../icons/btn-previous-arrow.svg') no-repeat;
    background-size: contain;
  }

  
  .next-person-icon-tablet{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%,-50%);
    width: 24px;
    height: 24px;
    background: url('../icons/btn-next-arrow.svg') no-repeat;
    background-size: contain;
  }

  .people-love-invest-section-container-mobile{
    display: none !important;
  }

  /* Frequently Asked Questions Section */

   .frequently-asked-questions-section{
    position: relative;
    padding: 120px 40px;
    padding-top: 0px;
  }

  .questions-container{
    margin-top: 48px;
  }

  .question-container{
    width: 688px;
  }

  .answer-text{
    width: 558px;
    position: relative;
    margin-top: 24px;
    color: #4F4F4F;
    font-family: 'Montserrat', sans;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: start;
  }

  /* Contact Us Section */

  .contact-us-section{
    padding: 48px 130px;
    flex-direction: column;
    justify-content: center;
  }

  .company-contact-info-container{
    justify-content: center;
  }

  .contact-us-title{
    text-align: center;
  }

  .contact-us-text{
    width: 508px;
    margin-top: 32px;
  }

  .site-is-owned-contact-text{
    width: 508px;
    margin-top: 32px;
  }

  .user-contact-info-form-container{
    position: relative;
    display: flex;
    margin-left: auto;
    margin-top: 48px;
    padding: 80px 42px;
    background: white;
    border-radius: 20px;
    border: 2px solid #6248FF;
  }

  .user-contact-info-form{
    position: relative;
    top: 50%;
    transform: translate(0%, 5%);
  } 

  /* Footer */

  .footer-content-container{
    display: none !important;
  }

  .copy-right-container{
    display: none !important;
  }

  .footer{
    padding: 62px 40px 48px 40px;
  }

  .footer-content-container-tablet-phone{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo-home-footer-tablet-phone{
    position: relative;
    color: black;
    font-family: 'MuseoSansCyrl-700', sans;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0%;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease;
    text-align: center;
  }

    .logo-home-footer-tablet-phone:hover{
    color: black;
    filter: brightness(120%);
    font-size: 16px;
  }

  .logo-home-footer-tablet-phone:active{
    color: black;
    filter: brightness(140%);
    font-size: 15px;
  }


  .navbar-elements-footer{
    flex-direction: row;
    gap: 47px;
    align-items: center;
    margin-top: 54px;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .risk-warninig-container{
    position: relative;
    margin: 0 auto;
    margin-top: 40PX;
  }

  
  .risk-warnining-title{
    text-align: center;
  }

  .risk-warning-text{
    width: 508px;
  }

  .legal-disclaimer-container{
    position: relative;
    margin: 0 auto;
    margin-top: 32px;
  }

  .legal-disclaimer-text{
    width: 508px;
  }

  .legal-disclaimer-title{
    text-align: center;
  }

  .copy-right-container-tablet-phone{
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

  }

    .copy-right-text, .terms-and-conditions-text, .privacy-policy-text, .risk-warinings-text, .anti-money-laundering{
      display: block;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }

}

/* Desktop (> 992px) */
@media (min-width: 993px) {
  .sign-in-desktop-tablet {
    display: inline-block;
  }
  .hamburger {
    display: none;
  }
  .mobile-menu {
    display: none !important;
  }

  .trade-title-mobile{
    display: none !important;
  }

  .about-trading-text-mobile{
    display: none !important;
  }

  .about-trading-text-tablet{
     display: none !important;
  }

  .get-started-title-tablet{
      display: none !important;
  }

   .get-started-title-mobile{
      display: none !important;
  }

  .people-love-invest-section-container-tablet{
    display: none !important;
  }

  .people-love-invest-section-container-mobile{
    display: none !important;
  }

  .footer-content-container-tablet-phone{
    display: none !important;
  }

  .copy-right-container-tablet-phone{
    display: none !important;
  }

}

  